<div class="about-header"></div>
<div class="about-main">
  <h2>Platformとは</h2>
  <p>
    SNSサービスです。
    目標を投稿、宣言することで、他のユーザーがあなたの目標を知り、共感し、お互いが切磋琢磨できる。また、くじけそうな時も仲間の動向を見ることでまた目標に向かって進む原動力になる。そんな「Platform」を目指しています。
    一人で目標に向かって励むより、仲間がいた方がモチベーション維持、向上にも繋がると信じています！
    <br>アカウントを作成して、同じ目標を志す仲間を探そう！！
  </p>

  <div class="about-images">
    <div class="about-left">
      <img class="about-img" src="/platform_index.png">
    </div>
    <div class="about-right">
      <img class="about-img" src="/platform_show.png">
    </div>
  </div>
    <p><span class="fa fa-hand-paper like-btn-unlike"></span>Hand up!(挙手)ボタンで目標に参加、目標を達成したら、<span class="fa fa-flag unachieved-btn"></span>を立てよう！！<br>それぞれの数字は、目標を共に歩んでいる仲間の数、どれだけの仲間がその目標を達成したかを％で表しているぞ。</p>
  <!-- 上の画像にPlatform紹介画像を入れる。完成した時のスクショを後で入れる。 -->
</div>